.bg-white{
	background-color:#ffffff !important;
}
.bg-gray{
	background-color:#f8f8f8 !important;
}
.bg-dark-blue{
	background-color:#3C495C !important;
}
.txt-white{
	color:#ffffff !important;
}
::selection{
	background-color:#3c495d;
	color:#ffffff;
}
body{
	font-family:'URW DIN W05 Regular',sans-serif;
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	color:#000000;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
img{
	max-width:100%;
}
article img{
	width:100%;
	height:auto;
}
a{
	color:#738399;
	text-decoration:none;
	transition:0.2s;
}
a:hover{
	text-decoration:none;
	color:#9facbf;
}
li{
	font-size:1rem;
}
td{
	font-size:1rem;
}
[type="button"]{
	-webkit-appearance:none;
}
h1,h2,h3,h4,h5,h6{
	line-height:1.2;
	text-transform:none;
	color:#000000;
	-webkit-hyphens:manual;
	-ms-hyphens:manual;
	hyphens:manual;
}
h1{
	font-size:1.75rem;
	margin-bottom:.5rem;
	text-transform:uppercase;
	font-family:'URW DIN W05 Bold',sans-serif;
}
h2{
	font-size:1.25rem;
	margin-bottom:.25rem;
	text-transform:uppercase;
	font-family:'URW DIN W05 Bold',sans-serif;
}
h3{
	font-size:1.125rem;
	margin-bottom:.25rem;
	text-transform:uppercase;
	font-family:'URW DIN W05 Bold',sans-serif;
}
h4{
	font-size:1.125rem;
	margin-bottom:.25rem;
}
h5{
	font-size:1rem;
	margin-bottom:.25rem;
}
h6{
	font-size:.875rem;
	margin-bottom:.25rem;
}
h3 + h4{
	margin-top:.75em;
}
p{
	line-height:1.5;
}
img + p,video + p{
	margin-top:1rem;
}
p + h2,p + h3,p + h4{
	margin-top:1.5em;
}
p.ingress{
	font-size:1rem;
}
blockquote{
	color:#4c5c74;
}
b,strong{
	font-family:'URW DIN W05 Medium',sans-serif;
	font-weight:inherit;
}
@media (min-width:992px){
	h1{
		font-size:2.375rem;
	}
	h2{
		font-size:1.75rem;
	}
	h3{
		font-size:1.5rem;
	}
	h4{
		font-size:1.25rem;
	}
	h5{
		font-size:1.125rem;
	}
	p.ingress{
		font-size:1.375rem;
	}
	.quote{
		font-size:1.375rem;
	}
}
@media (min-width:1700px){
	h1{
		font-size:2.625rem;
	}
	h2{
		font-size:2rem;
	}
	h3{
		font-size:1.5rem;
	}
	h4{
		font-size:1.25rem;
	}
	h5{
		font-size:1.125rem;
	}
	p,li{
		font-size:1.125rem;
	}
	p.ingress{
		font-size:1.375rem;
	}
	.quote{
		font-size:1.625rem;
	}
}
.padding-x-space,.padding-xl-space{
	padding-left:15px;
	padding-right:15px;
}
@media (min-width:768px){
	.padding-x-space,.padding-xl-space{
		padding-left:2rem;
		padding-right:2rem;
	}
}
@media (min-width:1200px){
	.padding-x-space,.padding-xl-space{
		padding-left:8vw;
		padding-right:8vw;
	}
}
@media (min-width:1700px){
	.padding-xl-space{
		padding-left:15vw;
		padding-right:15vw;
	}
}
.padding-lg-x-space{
	padding-left:0;
	padding-right:0;
}
@media (min-width:768px){
	.padding-lg-x-space{
		padding-left:0;
		padding-right:0;
	}
}
@media (min-width:992px){
	.padding-lg-x-space{
		padding-left:2rem;
		padding-right:2rem;
	}
}
@media (min-width:1200px){
	.padding-lg-x-space{
		padding-left:8vw;
		padding-right:8vw;
	}
}
.padding-y-space{
	padding-top:2rem;
	padding-bottom:2rem;
	transition:.5s;
}
@media (min-width:992px){
	.padding-y-space{
		padding-top:2.5rem;
		padding-bottom:2.5rem;
	}
}
@media (min-width:1200px){
	.padding-y-space{
		padding-top:5rem;
		padding-bottom:5rem;
	}
}
.padding-lg-y-space{
	padding-top:0;
	padding-bottom:0;
	transition:.5s;
}
@media (min-width:992px){
	.padding-lg-y-space{
		padding-top:2.5rem;
		padding-bottom:2.5rem;
	}
}
@media (min-width:1200px){
	.padding-lg-y-space{
		padding-top:5rem;
		padding-bottom:5rem;
	}
}
.scroll-to{
	display:block;
	position:relative;
	top:-60px;
	visibility:hidden;
}
@media screen and (min-width:992px){
	.scroll-to{
		top:-100px;
	}
}
@media screen and (min-width:1700px){
	.scroll-to{
		top:-112px;
	}
}
.theme-btn,a.theme-btn{
	display:inline-block;
	font-family:'URW DIN W05 Medium',sans-serif;
	padding:.75rem 2rem;
	font-size:0.875rem;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	line-height:1;
	border-radius:3px;
	background-color:#4b5b73;
	border:none;
	transition:0.25s;
}
.theme-btn:focus,a.theme-btn:focus,.theme-btn:hover,a.theme-btn:hover{
	background-color:#738399;
}
.theme-btn.btn-lg,a.theme-btn.btn-lg{
	padding:1rem 2rem;
	min-width:200px;
}
.theme-btn.btn-outline,a.theme-btn.btn-outline{
	border:1px solid #4b5b73;
	background-color:transparent;
	color:#4b5b73;
}
.theme-btn.btn-outline,a.theme-btn.btn-outline{
	border:1px solid #4b5b73;
	background-color:transparent;
	color:#4b5b73;
}
.theme-btn.btn-white,a.theme-btn.btn-white{
	border:1px solid #ffffff;
	background-color:transparent;
	color:#ffffff;
}
.theme-btn.btn-outline:hover,a.theme-btn.btn-outline:hover{
	border:1px solid #738399;
	background-color:transparent;
	color:#738399;
}
.theme-btn.btn-white:hover,a.theme-btn.btn-white:hover{
	border:1px solid rgba(255,255,255,0.8);
	background-color:transparent;
	color:rgba(255,255,255,0.8);
}
@media screen and (min-width:1700px){
	.theme-btn,a.theme-btn{
		font-size:1rem;
		padding:1.25rem;
		width:235px;
	}
}
.fade-in{
	transform:translateY(1.5rem);
	opacity:0;
}
.animate{
	animation-name:fadeUp;
	animation-duration:1s;
	animation-timing-function:ease;
	animation-fill-mode:forwards;
}
@keyframes fadeUp{
	0%{
		transform:translateY(1.5rem);
		opacity:0;
	}
	to{
		transform:translateY(0);
		opacity:1;
		--transform-translate-y:0;
	}
}
.anchor-links{
	list-style:none;
	padding-left:0;
}
.anchor-links li{
	font-family:'URW DIN W05 Medium',sans-serif;
	text-transform:uppercase;
	border-bottom:1px solid #D7D9DB;
	display:flex;
	align-items:center;
	padding:0.5rem 0;
}
.anchor-links li a{
	color:#000000;
}
.anchor-links li img{
	height:16px;
	margin-right:0.5rem;
}
p.quote-text{
	color:#3c495c;
	font-size:1rem;
	line-height:1.4;
}
p.quote-author{
	font-size:0.75rem;
}
@media screen and (min-width:576px){
	p.quote-text{
		color:#3c495c;
		font-size:1.125rem;
	}
	p.quote-author{
		font-size:0.875rem;
	}
}
@media screen and (min-width:768px){
	p.quote-text{
		font-size:1.25rem;
	}
}
@media screen and (min-width:1200px){
	p.quote-text{
		font-size:1.5rem;
	}
	p.quote-text{
		padding:0 1.5rem;
	}
	p.quote-author{
		padding:0 1.5rem;
	}
}
@media screen and (min-width:1400px){
	p.quote-text{
		padding:0 3rem;
	}
	p.quote-author{
		padding:0 3rem;
	}
}
@media screen and (min-width:1700px){
	p.quote-text{
		font-size:1.75rem;
	}
	p.quote-author{
		font-size:1rem;
	}
}
.navbar{
	justify-content:space-between;
	align-items:center;
	padding-top:0.75rem;
	padding-bottom:0.5rem;
	z-index:1000;
}
@media screen and (min-width:768px){
	.navbar{
		padding-top:1rem;
		padding-bottom:1rem;
	}
}
#main-menu.navbar-nav{
	align-items:center;
}
.navbar-white{
	background-color:#fff;
	transform:translateY(-100%);
	transition:transform ease 0.3s;
}
.navbar-show{
	transform:none;
}
@media screen and (min-width:1200px){
	.navbar-white{
		padding-top:0.75rem;
		padding-bottom:0.25rem;
	}
}
.navbar-brand img{
	width:110px;
	height:auto;
}
.logo-black{
	display:none;
	opacity:0;
}
.logo-white{
	display:block;
	opacity:1;
}
.navbar-white .logo-black{
	display:block;
	opacity:1;
}
.navbar-white .logo-white{
	display:none;
	opacity:1;
}
@media screen and (min-width:1200px){
	.navbar-brand img{
		width:196px;
		height:auto;
	}
	.navbar-white .navbar-brand img{
		width:196px;
	}
}
.navbar-toggler:focus{
	outline:none;
}
@media screen and (min-width:992px){
	.navbar-toggler{
		display:none;
	}
}
.navbar .navbar-toggler{
	width:32px;
	height:24px;
	position:relative;
	transform:rotate(0deg);
	transition:.5s ease-in-out;
	cursor:pointer;
	padding:0;
	outline:none !important;
	box-shadow:none !important;
	border:none;
	z-index:11;
}
.navbar-toggler span{
	display:block;
	position:absolute;
	height:2px;
	width:32px;
	background:#FFF;
	opacity:1;
	transform:rotate(0deg);
	transition:.25s ease-in-out;
}
.navbar-white .navbar-toggler span{
	background:#000;
}
.navbar-toggler span:nth-child(1){
	top:0;
	transform-origin:right center;
}
.navbar-toggler span:nth-child(2){
	top:12px;
}
.navbar-toggler span:nth-child(3){
	top:24px;
	transform-origin:right center;
}
.navbar-toggler:not(.collapsed) span:nth-child(1){
	transform:rotate(-45deg);
	top:0px;
	right:0;
	background-color:#FFF;
}
.navbar-white .navbar-toggler:not(.collapsed) span:nth-child(1){
	background-color:#000;
}
.navbar-toggler:not(.collapsed) span:nth-child(2){
	opacity:0;
}
.navbar-toggler:not(.collapsed) span:nth-child(3){
	transform:rotate(45deg);
	top:23px;
	right:0;
	background-color:#fff;
}
.navbar-white .navbar-toggler:not(.collapsed) span:nth-child(3){
	background-color:#000;
}
@media screen and (min-width:768px){
	.navbar-toggler-icon{
		width:2em;
		height:2em;
	}
}
#desktopMenu{
	display:none;
}
#secondary-menu .nav-link{
	text-transform:uppercase;
	color:#3B454E;
	font-family:'URW DIN W05 Medium',sans-serif;
	transition:0.1s;
	cursor:pointer;
	padding:0.75rem 1rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
#secondary-menu .nav-link{
	font-size:1rem;
	font-family:'URW DIN W05 Regular',sans-serif !important;
}
#mobileMenu #secondary-menu .nav-item:first-child .nav-link{
	border-top:none;
}
#mobileMenu #secondary-menu > .nav-item:last-child{
	border-bottom:1px solid #C5C8C9;
}
#mobileMenu #secondary-menu .nav-item:last-child .nav-link{
	border-bottom:none;
}
@media screen and (max-width:991px){
	#secondary-menu .nav-link{
		color:#666666 !important;
	}
}
@media screen and (min-width:992px){
	#secondary-menu{
		flex-direction:row;
		justify-content:end;
	}
	#secondary-menu .nav-link{
		font-weight:500;
		font-size:1rem;
		color:#FFFFFF;
		padding:0.75rem 0 0.5rem 1rem;
		transition:all ease 0.15s;
	}
	#secondary-menu .nav-link:hover{
		color:#FFFFFF95;
	}
}
@media screen and (min-width:1200px){
	#desktopMenu{
		display:block;
	}
}
#main-menu{
	flex-direction:row;
}
#main-menu .nav-link{
	font-size:1rem;
	font-weight:600;
	color:#FFFFFF;
	padding:1rem 2rem 1rem 0;
	transition:all ease 0.15s;
}
#main-menu > .nav-item:last-child .nav-link{
	padding-right:0;
}
.navbar-white #main-menu .nav-link,.navbar-white #secondary-menu .nav-link{
	color:#000;
}
#secondary-menu .active.nav-link{
	color:#149A39;
}
@media screen and (min-width:992px){
	#main-menu .nav-link{
		font-size:1.125rem;
	}
}
#main-menu .dropdown:hover .dropdown-menu{
	display:block;
}
#main-menu .dropdown-menu{
	position:absolute;
	top:calc(100% - 2px);
	background-color:rgba(0,0,0,0.8);
	text-transform:uppercase;
	white-space:nowrap;
	padding:0.5rem 1rem;
	border-radius:0;
}
#main-menu .dropdown-menu::before{
	content:"";
	display:block;
	width:0;
	height:0;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:12px solid rgba(0,0,0,0.8);
	position:absolute;
	top:-12px;
	left:30px;
}
#main-menu .dropdown-menu .nav-link{
	text-transform:none;
	font-weight:400;
	padding:0.5rem 0;
	border-bottom:1px solid rgba(255,255,255,0.3);
}
#main-menu .dropdown-menu .nav-item:last-child .nav-link{
	border-bottom:none;
}
.navbar-white #main-menu .dropdown-menu{
	background:#fff;
}
.navbar-white #main-menu .dropdown-menu::before{
	border-bottom:12px solid #fff;
}
.navbar-white #main-menu .dropdown-menu .nav-link{
	color:#000;
}
.navbar-white #main-menu .dropdown-menu .nav-link:hover{
	color:#149A39;
}
#mobileMenu{
	max-height:calc(100vh - 60px);
	overflow-y:scroll;
	z-index:10;
	background-color:#ffffff;
	padding:0;
	box-shadow:none;
	background-color:#ffffff;
}
.offcanvas-collapse{
	position:fixed;
	top:60px;
	bottom:0;
	width:100%;
	overflow-y:auto;
	transition:-webkit-transform .3s ease-in-out;
	transition:transform .3s ease-in-out;
	transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
}
.offcanvas-collapse.open{
	-webkit-transform:translateX(-15px);
	transform:translateX(-15px);
}
#mobileMenu .offcanvas-submenu-collapse{
	position:fixed;
	top:0;
	bottom:0;
	width:100%;
	overflow-y:auto;
	transition:-webkit-transform .3s ease-in-out;
	transition:transform .3s ease-in-out;
	transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
	z-index:10;
	background-color:#ffffff;
	padding-top:55px;
}
#mobileMenu .offcanvas-submenu-collapse.open{
	-webkit-transform:translateX(-15px);
	transform:translateX(-15px);
}
#mobileMenu ul{
	margin-left:0;
}
#mobileMenu .dropdown-toggle::after{
	display:none;
}
#mobileMenu .nav-item,#mobileMenu #secondary-menu .nav-link{
	border-top:1px solid #D7D9DB;
}
#mobileMenu > ul > .nav-item:first-child{
	border-top:none;
}
#mobileMenu .nav-link{
	text-transform:uppercase;
	color:#3B454E;
	font-family:'URW DIN W05 Medium',sans-serif;
	transition:0.1s;
	cursor:pointer;
	padding:0.75rem 1rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
#mobileMenu #secondary-menu .nav-link{
	font-size:1rem;
	color:#666666;
	font-family:'URW DIN W05 Regular',sans-serif;
}
#mobileMenu #secondary-menu .nav-link:last-child{
	border-bottom:1px solid #D7D9DB 
}
#mobileMenu .nav-link[aria-expanded="true"] svg{
	transform:rotate(180deg);
}
#mobileMenu .dropdown{
	list-style:none 
}
#mobileMenu .collapse-holder > .dropdown{
	padding-left:2.25rem;
	padding-right:2.25rem;
}
#mobileMenu .dropdown .nav-item{
	border-top:none;
}
#mobileMenu .dropdown .nav-link{
	padding:0.5rem 0;
}
#mobileMenu .dropdown .dropdown{
	padding-left:0;
	border-bottom:1px solid #D7D9DB;
	padding-bottom:0.75rem;
	margin-bottom:0.75rem;
}
#mobileMenu .dropdown .nav-item:last-child .dropdown{
	border-bottom:none;
	padding-bottom:1rem;
	margin-bottom:0;
}
#mobileMenu .dropdown .dropdown .nav-link{
	text-transform:none;
	font-family:'URW DIN W05 Regular',sans-serif;
	color:#666666;
}
@media screen and (min-width:768px){
	.offcanvas-collapse.open{
		-webkit-transform:translateX(-2rem);
		transform:translateX(-2rem);
	}
	#mobileMenu .nav-link{
		padding-right:2rem;
		padding-left:2rem;
	}
	#mobileMenu .collapse-holder > .dropdown{
		padding-left:3.25rem;
		padding-right:3.25rem;
	}
}
@media screen and (min-width:992px){
	#mobileMenu{
		display:none !important;
	}
}
#desktopMenu{
	max-height:100vh;
	align-self:flex-end;
	display:none;
	flex-direction:column;
}
#desktopMenu > ul > .nav-item{
	border:none;
}
#desktopMenu .nav-item .collapse-holder{
	position:initial;
}
#desktopMenu .nav-item.dropdown:hover{
	cursor:pointer;
}
#desktopMenu .dropdown-toggle::after{
	display:none;
}
#desktopMenu .nav-item .nav-link{
	font-family:'URW DIN W05 Demi',sans-serif;
	text-transform:uppercase;
	color:#fff;
	font-size:1rem;
	cursor:pointer;
}
.navbar-white #desktopMenu .nav-item .nav-link{
	color:#000;
}
#desktopMenu .nav-item .nav-link:hover{
	color:#FFFFFF95;
}
.navbar-white #desktopMenu .nav-item .nav-link:hover{
	color:#4b5b73;
}
#desktopMenu #main-menu .nav-item .dropdown-item:hover,#desktopMenu #main-menu .nav-item .dropdown-item:hover h3{
	color:#4b5b73;
}
#desktopMenu .dropdown-ul{
	margin:0;
	border:none;
	border-radius:0;
	list-style:none;
}
#desktopMenu .dropdown-ul .list-unstyled .dropdown-item{
	padding:0.75rem 0;
	border-top:1px solid #D0D3D5;
	font-size:0.875rem;
	color:#000;
	background:transparent;
	white-space:normal;
}
#desktopMenu .dropdown-ul .list-unstyled .dropdown-item.active{
	color:#738399;
}
#desktopMenu .dropdown-ul .nav-item:last-child .dropdown-item{
	border-bottom:1px solid #D0D3D5;
}
#desktopMenu .dropdown-ul > li > .dropdown-item{
	padding:0;
}
#desktopMenu .dropdown-ul .dropdown-item:hover{
	background-color:transparent;
}
#desktopMenu .mega-menu h3{
	font-size:1.125rem;
	margin:0 0 0.5rem;
}
#desktopMenu .dropdown-ul .dropdown-item h4{
	display:inline-block;
	color:#000;
	transition:all .5s;
}
#desktopMenu .dropdown-ul .dropdown-item h5{
	font-size:1.125rem;
	margin-bottom:0;
	white-space:normal;
	text-transform:uppercase;
	transition:all .5s;
	margin-top:0;
}
#main-menu .dropdown-ul .dropdown-item h6{
	white-space:normal;
	margin-bottom:0;
	font-size:.8rem;
	transition:all .5s;
}
@media screen and (min-width:992px){
	#desktopMenu{
		display:flex;
	}
}
#desktopMenu #secondary-menu{
	align-self:flex-end;
}
#desktopMenu .nav-item:last-child .nav-link{
	padding-right:0;
}
#desktopMenu #secondary-menu .nav-link{
	font-family:'URW DIN W05 Medium',sans-serif;
}
#dektopMenu #secondary-menu{
	margin-bottom:0;
	display:flex;
	flex-direction:column;
}
#desktopMenu #secondary-menu .nav-link{
	font-size:.875rem;
	text-transform:uppercase;
}
.navbar-white #desktopMenu #secondary-menu .nav-link:hover{
	color:#4b5b73;
}
#desktopMenu #secondary-menu .nav-item:last-child .navlink{
	padding-right:0;
}
#desktopMenu #secondary-menu extra-ul{
	margin:0;
	flex-direction:row;
}
#desktopMenu #secondary-menu extra-ul .nav-link{
	padding-right:0.5rem;
	color:#999999;
}
@media screen and (min-width:992px){
	#desktopMenu #secondary-menu{
		margin-bottom:20px;
	}
	#desktopMenu #secondary-menu .nav-link{
		font-size:0.875rem;
	}
	#desktopMenu #secondary-menu .nav-link.active{
		color:#00632f;
	}
	#desktopMenu #secondary-menu extra-ul .nav-link:last-child{
		padding-right:0.875rem;
	}
}
@media screen and (min-width:1700px){
	#desktopMenu #secondary-menu{
		margin-bottom:34px;
	}
}
@media (max-width:1199px){
	#desktopMenu{
		max-height:calc(100vh - 76px);
		overflow-y:scroll;
	}
	#main-menu .dropdown-ul .dropdown-item{
		border-top:none;
		padding:0;
		font-size:1rem;
	}
	#main-menu .dropdown-ul > .col-12{
	}
	#main-menu .dropdown-ul .dropdown-item h3{
		color:#000000;
		font-size:1.125rem;
	}
	#main-menu .dropdown-ul .dropdown-item .sub-header{
		font-size:0.875rem;
		margin-bottom:30px;
		margin-top:0.25rem;
	}
	#main-menu .dropdown-ul .dropdown-item .sub-sub-header{
		display:none;
	}
	#main-menu .dropdown-ul .dropdown-item h5{
		color:#000;
		margin-bottom:0.5rem;
		margin-top:0;
		font-size:1rem;
		background-image:url("/template/icons/chevron-circle-right-regular.svg");
		background-repeat:no-repeat;
		padding-left:22px;
		background-size:15px;
		background-position:left top 1px;
	}
	#main-menu .dropdown-ul .dropdown-item h4,#main-menu .dropdown-ul .dropdown-item h6{
		display:none;
	}
}
@media screen and (min-width:992px){
	.navbar > .container-fluid{
		padding-left:0;
		padding-right:0;
	}
	.navbar-collapse{
		background-color:transparent;
		flex-direction:column;
	}
	#desktopMenu{
		overflow:hidden;
	}
	#desktopMenu .nav-item{
		border:none;
	}
	#main-menu .nav-item.nav-link{
		color:#000;
		font-size:.875rem;
		padding:.5rem .875rem;
	}
	#main-menu .nav-link:hover,#secondary-menu .nav-link:hover{
		background-color:transparent;
	}
	.dropdown-ul.show{
		display:flex;
		flex-wrap:wrap;
	}
	#main-menu .dropdown-ul{
		width:calc(100% + 15px);
		box-shadow:0 2px 2px 0 rgba(0,0,0,0.10);
		margin:0 -15px;
		display:flex;
		flex-wrap:wrap;
	}
}
.menu-sm-icons ul{
	list-style:none;
	border-top:1px solid #D0D3D5;
	padding-left:0;
	padding-top:0.5rem;
}
.menu-sm-icons svg{
	margin-right:0.75rem;
	font-size:1.25rem;
	margin-top:0.5rem;
	color:#a6aeba;
}
@media screen and (min-width:992px){
	#main-menu{
		align-self:flex-end;
	}
	#main-menu .collapsing{
		transition:none;
		display:none;
	}
	#main-menu .nav-item .mega-menu{
		position:absolute;
		left:0;
		width:100%;
	}
	#main-menu .nav-item .mega-menu h3{
		font-family:'URW DIN W05 Demi',sans-serif;
	}
	#main-menu .nav-item .nav-link{
		font-size:1rem;
		padding:0.5rem;
	}
	#main-menu .dropdown-ul .dropdown-item .sub-header{
		display:inline-block;
		color:#000;
		transition:all .5s;
		font-size:1.5rem;
		margin-bottom:0 
	}
	#main-menu .dropdown-ul .dropdown-item .sub-sub-header{
		display:block;
		margin-bottom:0;
		font-size:0.875rem;
	}
}
@media screen and (min-width:1200px){
	#main-menu .nav-item .mega-menu{
		background-image:url("/media/r0xnyzgd/oxe-outline-gray.png");
		background-repeat:no-repeat;
		background-position:bottom right 12%;
		background-size:contain;
	}
	#main-menu .dropdown-ul{
	}
}
@media screen and (min-width:1370px){
	.navbar{
		padding-left:8vw;
		padding-right:8vw;
	}
}
@media screen and (min-width:1440px){
	#main-menu .nav-item .nav-link{
		padding:0.5rem 0.875rem;
	}
}
@media (min-width:1700px){
	#main-menu .nav-link{
		font-size:1rem;
		padding:.5rem .875rem;
	}
}
.feature-block{
	background-size:cover;
	background-position:center;
	background-color:#3a4a61;
}
.feature-overlay{
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
}
.feature-block svg.fa-chevron-down{
	color:#ffffff;
	position:absolute;
	bottom:2rem;
	font-size:40px;
	right:calc(50% - 20px);
	transition:0.2s;
	display:none;
}
.feature-caption{
	padding:1rem;
	text-align:center;
}
.feature-caption h1{
	color:#ffffff;
	text-shadow:0 0 5px rgba(0,0,100,0.3),0 0 15px rgba(0,0,100,0.1);
	margin:0;
}
.feature-caption p{
	color:#ffffff;
	font-size:1.125rem;
	margin:1rem 0 0;
	text-shadow:0 0 2px rgba(0,0,70,0.4),0 0 10px rgba(0,0,50,0.5);
}
.feature-caption .theme-btn{
	text-shadow:0 0 2px rgba(0,0,100,0.3),0 0 5px rgba(0,0,100,0.2);
	margin:1.75rem 0 0;
}
.feature-caption .theme-btn.btn-white:hover{
	border:1px solid rgba(255,255,255,1);
	color:rgba(255,255,255,1);
}
@media screen and (min-width:360px){
	.feature-overlay{
		padding-bottom:3rem;
	}
}
@media screen and (min-height:550px){
	.feature-block svg.fa-chevron-down{
		display:block;
	}
	.feature-overlay{
		align-items:flex-end;
	}
}
@media screen and (min-width:550px){
	.feature-caption{
		width:520px;
	}
}
@media screen and (min-width:992px){
	.feature-block{
		background-position:bottom center;
	}
	.feature-overlay{
		min-height:100vh;
		justify-content:flex-start;
		align-items:flex-start;
		padding-top:11vh;
		padding-bottom:0;
	}
	.feature-caption{
		text-align:left;
		padding:0;
		width:50%;
	}
	.feature-caption h1{
		font-size:2.75rem;
	}
	.feature-caption p{
		color:#ffffff;
		font-size:1.25rem;
	}
	.feature-block svg.fa-chevron-down{
		font-size:40px;
	}
}
@media screen and (min-width:1370px){
	.feature-overlay{
		background-position:bottom right 8vw;
	}
	.feature-block svg.fa-chevron-down{
		bottom:4rem;
	}
}
@media screen and (min-width:1370px) and (pointer:fine){
	.feature-block{
		background-attachment:fixed;
	}
}
@media screen and (min-width:1700px){
	.feature-caption h1{
		font-size:3.5rem;
	}
	.feature-caption p{
		font-size:1.75rem;
		margin-top:1.5rem;
	}
	.feature-block svg.fa-chevron-down{
		font-size:50px;
	}
	.feature-caption .theme-btn{
		margin:2.5rem 0 0;
	}
}
.section-header h2{
	margin-bottom:0;
}
.section-header h2,.section-header p{
	font-size:1.125rem;
}
@media screen and (min-width:992px){
	.section-header h2,.section-header p{
		font-size:1.25rem;
	}
	.section-header p{
		width:800px;
		margin:0 auto;
	}
}
@media screen and (min-width:1700px){
	.section-header h2,.section-header p{
		font-size:1.5rem;
	}
}
.focus-items{
	display:flex;
	flex-direction:column;
}
.focus-items > div{
	margin-bottom:1rem;
}
.focus-item{
	background-color:#4b5b73;
	background-size:cover;
	background-position:center;
	display:flex;
	min-height:100% 
}
.focus-items > div:first-child .focus-item{
	background-position:center left;
}
.focus-overlay{
	width:100%;
}
.focus-items > div:last-child{
	margin-bottom:0;
}
.focus-item .item-body{
	padding:1rem;
	min-height:60vw;
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:100%;
}
.focus-overlay{
	background-color:rgba(75,91,115,0.35);
	display:flex;
}
.focus-item .item-body > *{
	text-align:center;
	color:#ffffff;
}
.focus-item.animation-bg{
	position:relative;
	overflow:hidden;
}
.focus-items > .animation-bg .focus-overlay{
	background-color:transparent;
}
.focus-item.animation-bg .oxe-img{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:0;
	height:145%;
	animation:pan-oxe 6s ease-in-out both;
	z-index:99;
}
.focus-item #video-container{
	overflow:hidden;
	position:relative;
	display:flex;
	height:60vw;
	width:100%;
	background:linear-gradient(90deg,rgba(75,91,115,1) 0%,rgba(115,131,153,1) 100%);
}
.focus-item .video{
	object-fit:cover;
	height:100%;
	width:100%;
	z-index:20;
	filter:grayscale(1);
	opacity:.75;
	mix-blend-mode:soft-light;
}
.focus-item .video-caption{
	position:absolute;
	width:100%;
	min-height:100%;
	top:0;
	left:0;
	display:flex;
	flex-direction:column;
	justify-content:center;
	z-index:900;
}
.focus-item .video-caption-content{
	text-align:inherit;
	background-color:transparent;
	padding:2rem;
	align-self:center;
}
@media screen and (min-width:500px){
	.focus-items{
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-between 
	}
	.focus-items > div{
		flex-basis:calc(50% - 0.5rem);
		margin-bottom:0;
	}
	.focus-items > div:first-child{
		flex-basis:100%;
		margin-bottom:1rem;
	}
	.focus-item .item-body{
		min-height:30vw;
	}
	.focus-items > div:first-child .item-body,.focus-item #video-container{
		height:300px;
		min-height:300px;
	}
	.focus-items > div:first-child .focus-item{
		background-position:center;
	}
}
@media screen and (min-width:567px){
	.focus-item .item-body{
		min-height:300px;
	}
}
@media screen and (min-width:768px){
	.focus-item.animated-bg h3{
		font-size:1.5;
	}
}
@media screen and (min-width:992px){
	.focus-items > div:first-child .item-body{
		padding-left:50%;
	}
	.focus-items > div:first-child .focus-overlay{
		background-image:linear-gradient(to left,rgba(75,91,115,0.8),rgba(75,91,115,0));
		background-color:transparent;
	}
	.focus-items > div:first-child .item-body > *{
		text-align:left;
	}
	.focus-item.animation-bg .oxe-img{
		left:25%;
	}
	.focus-item #video-container{
		height:420px;
	}
}
@media screen and (min-width:1200px){
	.focus-item .item-body{
		min-height:370px;
		padding:3rem;
	}
	.focus-items > div:first-child .focus-item .item-body{
		min-height:414px;
	}
}
@media screen and (min-width:1700px){
	.focus-item .item-body p{
		font-size:1.25rem;
	}
	.focus-item .item-body h3{
		font-size:2rem;
	}
}
.products-gallery{
	display:flex;
	flex-direction:column;
}
.products-gallery > .product-item{
	flex-basis:100%;
	margin-bottom:1rem;
}
.product-item{
	background-color:#ffffff;
}
.product-item > a{
	padding:1rem;
	display:block;
}
.product-item a{
	color:#000000;
}
.product-item > a > div{
	position:relative;
}
.product-item figure{
	width:300px;
	max-width:100%;
	margin:0 auto;
	padding-bottom:2rem;
	position:relative;
}
.product-item figure img{
	width:100%;
}
.product-item figure img:first-child{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
}
.product-item figure img:last-child{
	opacity:1;
}
.product-item .item-body{
	position:absolute;
	bottom:0;
	left:0;
}
.product-item .item-body h3 span{
	color:#f6b435;
}
.product-item .item-body p{
	text-transform:uppercase;
	margin-bottom:0;
	line-height:1.1;
}
@media screen and (hover:hover){
	.product-item:hover figure img:first-child{
		opacity:1;
	}
	.product-item:hover figure img:last-child{
		opacity:0;
	}
}
@-moz-document url-prefix(){
	.product-item:hover figure img:first-child{
		opacity:1;
	}
	.product-item:hover figure img:last-child{
		opacity:0;
	}
}
@media screen and (min-width:500px){
	.products-gallery{
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	.products-gallery .product-item{
		flex-basis:calc(50% - 0.5rem);
	}
	.product-item figure{
		width:100%;
		max-width:300px;
	}
}
@media screen and (min-width:768px){
	.products-gallery .product-item{
		flex-basis:calc(33.33% - 0.67rem);
	}
	.product-item figure{
		margin:0 auto;
	}
}
@media screen and (min-width:992px){
	.product-item > a{
		padding:2rem;
	}
}
@media screen and (min-width:1700px){
	.product-item .item-body h3{
		font-size:2rem;
	}
}
.quote-section{
	display:flex;
	flex-direction:column;
}
.quote-section > div{
	flex-basis:100%;
}
.quote-section > div:first-child img{
	width:100%;
	height:auto;
}
.quote-section > div:last-child{
	justify-content:center 
}
@media screen and (min-width:768px){
	.quote-section{
		display:flex;
		flex-direction:row;
	}
	.quote-section > div{
		flex-basis:50%;
	}
}
.dealer-section{
	border-top:1px solid #D7D9DB;
	border-bottom:1px solid #D7D9DB;
	flex-wrap:wrap;
}
.dealer-section > div{
	flex-basis:100%;
}
.dealer-section > div:last-child{
	background-size:cover;
	background-position:center;
	min-height:70vw;
}
.dealer-section h2{
	margin-bottom:1rem;
}
.dealer-section #InkaDistributorsMapTablesLayer p{
	font-size:1rem;
}
.dealer-section label{
	text-transform:uppercase;
	font-family:'URW DIN W05 Medium',sans-serif;
	display:block;
	margin:1.5rem 0 0.25rem;
}
.dealer-section select{
	-webkit-appearance:none;
	background-color:#f8f8f8;
	border:none;
	border-radius:0;
	background-image:url("/media/hetmrm1p/chevron-down-black.svg");
	background-size:14px auto;
	background-repeat:no-repeat;
	background-position:center right 14px;
	padding:0.5rem 1rem;
	height:50px;
}
.dealer-section select:focus{
	outline:none;
	border:none;
	box-shadow:none;
	background-color:#f8f8f8;
}
.dealer-section input[type="text"]{
	font-family:'URW DIN W05 Regular',sans-serif;
	display:block;
	padding:0.75rem;
	display:block;
	width:100%;
	background-color:#f8f8f8;
	border:1px solid #f8f8f8;
}
.dealer-section input[type="text"]:focus{
	border:1px solid #3c495d;
	;
	outline:none;
}
.dealer-section .theme-btn{
	margin-top:2rem;
}
.dealer-section h2{
	margin-top:1.5rem;
}
.map_container{
	position:relative;
}
.map_container svg{
	background-color:#3C495C;
}
#toworldmap{
	background:none repeat scroll 0 0 #707c8d;
	border-radius:0;
	color:white;
	cursor:pointer;
	height:30px;
	left:30px;
	line-height:25px;
	padding:3px;
	position:absolute;
	text-align:center;
	width:30px;
	top:30px;
	display:none;
	background-color:#d6d9db;
	color:#3c495c;
}
.map_container .jqvmap-zoomin,.map_container .jqvmap-zoomout{
	background:#d6d9db;
	color:#3c495c;
}
@media screen and (min-width:992px){
	.dealer-section > div{
		flex-basis:50%;
		max-width:50%;
		flex-grow:0;
		flex-shrink:0;
	}
	.dealer-section > div:last-child{
		min-height:33vw;
	}
}
@media screen and (min-width:1700px){
	.dealer-section p{
		font-size:1.25rem;
	}
	.dealer-section label{
		font-size:1.125rem;
	}
}
.news-section > div{
	width:100%;
	padding:1rem;
}
.news-section h3{
	border-bottom:1.5px solid #c10230;
	padding:.25rem 0;
	margin-bottom:.5rem;
}
.news-list a{
	color:#000000;
}
.news-list > div{
	flex-basis:100%;
	padding:1rem 0;
	border-bottom:1px solid #ccc;
}
.news-list time{
	display:block;
	font-size:.75rem;
	margin:0 0 0.25rem;
}
.news-section h4{
	font-family:'URW DIN W05 Medium',sans-serif;
	font-size:1.125rem;
	margin-bottom:0;
}
.news-section .news-excerpt{
	font-size:1rem;
	margin-bottom:0;
}
.news-section h4 + .news-excerpt{
	margin-top:0.25rem;
}
.news-section .report-title{
	font-size:1.125rem;
	font-family:'URW DIN W05 Medium',sans-serif;
	line-height:1.2;
	margin-bottom:0;
}
.news-section .news-read-more-link{
	text-transform:uppercase;
	color:#000;
}
.news-section a.news-read-more-link:hover{
	text-decoration:none;
	color:#9facbf;
}
@media screen and (min-width:576px){
	.news-section .report-title{
		font-size:1.125rem;
	}
}
@media screen and (min-width:768px){
	.news-section > div{
		flex-basis:calc(33.33% - 0.67rem);
	}
}
.header-banner{
	background-size:cover;
}
.header-overlay{
	background-image:linear-gradient(130deg,rgba(60,73,93,0.8),rgba(60,73,93,0) 70%);
	display:flex;
	align-items:center;
	height:40vw;
	min-height:400px;
}
.header-logo img{
	width:150px;
	margin-bottom:1rem;
}
.header-caption p{
	line-height:1.4;
}
.header-caption h1{
	margin-bottom:0;
}
@media screen and (min-width:576px){
	.header-caption p{
		font-size:1.125rem;
	}
}
@media screen and (min-width:992px){
	.header-caption p{
		font-size:1.25rem;
	}
	.header-caption{
		width:550px;
	}
}
@media screen and (min-width:1200px){
}
@media screen and (min-width:1700px){
	.header-caption{
		width:730px;
	}
	.header-caption p{
		font-size:1.5rem;
	}
}
.header-video{
	position:relative;
	overflow:hidden;
}
.header-video .header-overlay{
}
#video-media{
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	height:100%;
	width:100%;
}
#oxe-video{
	object-fit:cover;
	height:100%;
	width:100%;
}
.subpage-menu ul{
	list-style:none;
	padding-left:0;
	display:flex;
	flex-wrap:wrap;
	margin:0;
	justify-content:center;
}
.subpage-menu .nav-link{
	font-family:"URW DIN W05 Medium",sans-serif;
	font-size:0.875rem;
	text-transform:uppercase;
	padding:1rem 1rem 0 0;
	color:#000000;
}
.subpage-menu .nav-link:hover{
	color:#738399;
}
.subpage-menu .nav-link.active{
	color:#738399;
}
.subpage-menu li:last-child .nav-link{
	padding-bottom:1rem;
}
@media screen and (min-width:1300px){
	.subpage-menu{
		display:block;
	}
}
@media screen and (min-width:1400px){
	.subpage-menu .nav-link{
		padding:1rem 2rem 0 0;
	}
	.subpage-menu li:last-child .nav-link{
		padding-bottom:1rem;
	}
}
.content-section.odd-section{
	background-color:#f8f8f8;
}
@media screen and (min-width:768px){
	.content-section{
		display:flex;
	}
	.content-section > div{
		flex-basis:50%;
		width:50%;
	}
	.content-section.odd-section > div:first-child{
		padding-left:0;
		padding-right:0.75rem;
	}
	.content-section.odd-section > div:last-child{
		padding-right:0;
		padding-left:0.75rem;
	}
	.content-section.even-section > div:first-child{
		order:2;
		padding-right:0;
		padding-left:0.75rem;
	}
	.content-section.even-section > div:last-child{
		order:1;
		padding-left:0;
		padding-right:0.75rem;
	}
	.content-link-list{
		padding-left:0.75rem;
	}
}
@media screen and (min-width:992px){
	.content-section.odd-section > div:first-child{
		padding-right:1.5rem;
	}
	.content-section.odd-section > div:last-child{
		padding-left:1.5rem;
	}
	.content-section.even-section > div:first-child{
		padding-left:1.5rem;
	}
	.content-section.even-section > div:last-child{
		padding-right:1.5rem;
	}
	.content-link-list{
		padding-left:1.5rem;
	}
}
@media screen and (min-width:1200px){
	.content-section.odd-section > div:first-child{
		padding-right:2rem;
	}
	.content-section.odd-section > div:last-child{
		padding-left:2rem;
	}
	.content-section.even-section > div:first-child{
		padding-left:2rem;
	}
	.content-section.even-section > div:last-child{
		padding-right:2rem;
	}
	.content-link-list{
		padding-left:2rem;
	}
}
@media screen and (min-width:1700px){
	.content-section.odd-section > div:first-child{
		padding-right:2.5rem;
	}
	.content-section.odd-section > div:last-child{
		padding-left:2.5rem;
	}
	.content-section.even-section > div:first-child{
		padding-left:2.5rem;
	}
	.content-section.even-section > div:last-child{
		padding-right:2.5rem;
	}
	.content-link-list{
		padding-left:2.5rem;
	}
}
.products-list-section > ul{
	list-style:none;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-left:0;
}
.products-list-section > ul li a{
	font-family:'URW DIN W05 Demi';
	color:#989C9F;
	padding:0 1rem;
	text-transform:uppercase;
}
.products-list .product-item{
	background-color:#f8f8f8;
}
.products-list .theme-btn{
	margin-top:1rem;
}
@media screen and (min-width:768px){
	.products-list-item{
		display:flex;
	}
	.products-list-item > div{
		flex-basis:50%;
	}
	.products-list-item > div:last-child{
		display:flex;
		flex-direction:column;
		justify-content:center;
		padding-left:3.75rem;
		padding-right:3.75rem;
	}
	.products-list .theme-btn{
		width:200px;
	}
	.products-list-item:nth-child(even) > div:nth-child(1){
		order:1;
	}
	.products-list-item:nth-child(even) > div:nth-child(2){
		order:3;
	}
	.products-list-item:nth-child(even) > div:nth-child(3){
		order:2;
	}
}
@media screen and (min-width:1700px){
	.products-list-item > div:last-child{
		padding-left:7rem;
		padding-right:7rem;
	}
}
.product-presentation > div:last-child{
	margin:0 -1rem;
}
@media screen and (min-width:768px){
	.product-presentation > div:last-child{
		margin:0 -2rem;
	}
}
@media screen and (min-width:992px){
	.product-presentation{
		display:flex;
	}
	.product-presentation > div{
		flex-basis:50%;
	}
	.product-presentation > div:last-child{
		margin:0;
	}
}
.collapse-section header{
	position:relative;
}
.collapse-section header > h2{
	display:none;
	margin-bottom:0;
}
.collapse-section header button{
	border:none;
	background-color:transparent;
}
.collapse-section header button:active,.collapse-section header button:focus{
	outline:none;
	border:none;
}
.collapse-section header button h2{
	position:relative;
	margin-bottom:0;
}
.collapse-section header button img{
	height:12px;
	position:absolute;
	top:6px;
	right:0;
}
.collapse-section header button:not(.collapsed) img{
	transform:rotate(180deg);
}
@media screen and (min-width:992px){
	.collapse-section header button{
		display:none;
	}
	.collapse-section header > h2{
		display:block;
	}
	#technical-collapse:not(.show),#performance-collapse:not(.show),#emissions-collapse:not(.show){
		display:block;
	}
}
#technical-collapse ul{
	list-style:none;
	margin-bottom:0;
}
#technical-collapse li{
	display:flex;
	border-bottom:1px solid rgba(255,255,255,0.3);
	justify-content:space-between;
	padding:0.5rem 0;
	font-size:0.875rem;
}
#technical-collapse li span{
	flex-basis:50%;
	flex-grow:0;
	flex-shrink:0;
	color:#ffffff;
}
#technical-collapse li span:first-child{
	font-family:'URW DIN W05 Medium';
	text-transform:uppercase;
}
@media screen and (min-width:768px){
	#technical-collapse ul{
		column-count:2;
		column-gap:2.5rem;
		position:relative;
	}
	#technical-collapse li{
		column-count:2;
		column-gap:2.5rem;
		position:relative;
		break-inside:avoid;
		padding-right:2.5rem;
	}
}
@media screen and (min-width:1700px){
	#technical-collapse ul{
		column-gap:3rem;
	}
	#technical-collapse li{
		padding-right:3rem;
	}
}
#emissionsTab{
	border-bottom:none;
}
#emissionsTab .nav-link{
	font-family:'URW DIN W05 Demi',sans-serif;
	padding:0.75rem;
	display:block;
	text-transform:uppercase;
	color:#989C9F;
	border:none;
}
#emissionsTab .nav-link.active{
	background-color:#ffffff;
	color:#000000;
	border-radius:0;
}
#emissionsTab .nav-link span{
	display:none;
}
@media screen and (min-width:890px){
	#emissionsTab .nav-link span{
		display:inline;
	}
}
@media screen and (min-width:992px){
	#emissionsTab{
		padding-top:2rem;
	}
	#emissionsTab .nav-link{
		font-size:1.125rem;
		padding:0.75rem 1.25rem;
	}
}
@media screen and (min-width:1200px){
	#emissionsTab{
		padding-top:2.5rem;
	}
	#emissionsTab .nav-link{
		font-size:1.25rem;
		padding:0.875rem 1.5rem;
	}
}
@media screen and (min-width:1700px){
	#emissionsTab .nav-link{
		font-size:1.375rem;
		padding:1rem 1.75rem;
	}
}
.emissions-section h3{
	font-family:'URW DIN W05 Demi',sans-serif;
	text-transform:none;
}
.book-demo-section textarea{
	width:100%;
	padding:0.5rem;
	margin-bottom:1.5rem;
	height:150px;
	resize:none;
	background-color:#F2F3F4;
	border:none;
}
.book-demo-section input[type="text"]{
	display:block;
	width:100%;
	margin-bottom:1rem;
	padding:0.5rem;
	background-color:#F2F3F4;
	border:none;
}
.book-demo-section input:last-child{
	margin-bottom:0;
}
.book-demo-section .theme-btn{
	float:right;
	margin-top:1.5rem;
	border-color:#97A7C0;
	color:#97A7C0;
}
.book-demo-section .theme-btn:hover{
	border-color:#ffffff;
	color:#ffffff;
}
@media screen and (min-width:500px){
	.book-demo-section textarea{
		width:100%;
		padding:1rem;
		margin-bottom:0;
		height:auto;
	}
	.book-demo-section form > div:first-child{
		display:flex;
		justify-content:space-between;
	}
	.book-demo-section form > div:first-child > div{
		flex-basis:calc(50% - 0.5rem);
	}
	.book-demo-section form > div:first-child > div:first-child{
		display:flex;
	}
}
@media screen and (min-width:768px){
	.book-demo-section textarea{
		padding:1rem;
	}
	.book-demo-section input[type="text"]{
		padding:1rem;
		margin-bottom:1.5rem;
	}
	.book-demo-section input[type="text"]:last-child{
		margin-bottom:0;
	}
	.book-demo-section .theme-btn{
		margin-top:1.5rem;
	}
}
#DCF_Form textarea{
	width:100%;
	padding:1rem .875rem;
	margin-bottom:1.5rem;
	height:150px;
	resize:none;
	background-color:#F2F3F4;
	border:none;
	border-radius:0;
}
#DCF_Form input[type="text"],#DCF_Form input[type="email"]{
	display:block;
	width:100%;
	margin-bottom:1rem;
	padding:1rem .875rem;
	background-color:#F2F3F4;
	border:none;
	border-radius:0;
	height:50px;
}
#DCF_Form label{
	text-transform:none;
	font-family:'URW DIN W05 Medium',sans-serif;
	display:block;
	margin:1.5rem 0 0.25rem;
}
#DCF_Form #chkTermsLabel{
	text-transform:none;
	font-family:'URW DIN W05 Regular',sans-serif;
	font-size:1.125rem;
	display:block;
	margin:0 0 0.25rem 0.5rem;
	width:90%;
	display:inline-block;
}
#DCF_Form #DCF_chkAgree{
	vertical-align:top;
	margin-top:.5rem;
}
#DCF_Form .theme-btn{
	margin-top:0;
}
.brochures-gallery{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	margin:0 -0.5rem;
}
.brochure-item{
	flex-basis:calc(50% - 1rem);
	flex-grow:0;
	flex-shrink:0;
	margin:0 0.5rem 1rem;
}
.brochure-item a.theme-btn{
	padding-left:0;
	padding-right:0;
}
@media screen and (min-width:550px){
	.brochure-item{
		flex-basis:calc(33.33% - 1rem);
		flex-grow:0;
		flex-shrink:0;
	}
}
@media screen and (min-width:992px){
	.brochures-section{
		border-top:none;
		background-color:#f8f8f8;
		margin:0 -1rem;
	}
	.subpage-application .brochures-section{
		border-top:1px solid #D7D9DB;
		background-color:#ffffff;
	}
	.brochure-item{
		flex-basis:calc(25% - 2rem);
		margin:0 1rem 1.5rem;
	}
}
@media screen and (min-width:1200px){
	.brochures-gallery .brochure-item{
		flex-basis:calc(12.5% - 1rem);
		flex-grow:0;
		flex-shrink:0;
	}
}
.application-item{
	background-position:center;
	background-size:cover;
	padding-top:56.25%;
	position:relative;
}
.application-item > a{
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
@media screen and (min-width:768px){
	.application-item{
		padding-top:28.125%;
	}
}
footer{
	background-color:#D6D9DB;
}
footer > div{
	width:100%;
}
footer > div:first-child > div{
	width:100%;
	margin-bottom:1rem;
}
footer ul{
	list-style:none;
	padding-left:0;
	margin-bottom:0;
}
footer li a{
	text-transform:uppercase;
	font-size:0.75rem;
	line-height:1.8;
	color:#000000;
}
footer input[type="text"]{
	padding:6px 8px;
	border:1px solid #ffffff;
	margin-right:0.5rem;
	border:1px solid #ffffff;
	width:calc(100% - 46px);
}
footer form{
	margin-top:1.5rem;
	max-width:100%;
	display:flex;
	width:360px;
}
footer .theme-btn{
	padding:0.75rem 1rem;
}
table.cookie-listing-table{
	width:100%;
	min-width:400px;
}
table.cookie-listing-table td{
	vertical-align:top;
	padding-right:1rem;
}
table.cookie-listing-table th{
	vertical-align:top;
	font-weight:700;
}
@media screen and (min-width:400px){
	footer input[type="text"]:focus{
		width:auto;
		margin-right:1rem;
		flex-grow:1;
	}
	footer .theme-btn{
		padding:0.75rem 2rem;
	}
}
@media screen and (min-width:400px){
	footer input[type="text"]:focus{
		width:auto;
		margin-right:1rem;
		flex-grow:1;
	}
	footer .theme-btn{
		padding:0.75rem 2rem;
	}
}
@media screen and (min-width:576px){
	footer li a{
		font-size:0.875rem;
	}
}
@media screen and (min-width:768px){
	footer > div{
		margin-bottom:0;
	}
	footer > div:first-child{
		display:flex;
		flex-wrap:wrap;
	}
	footer > div:first-child > div{
		flex-basis:calc(33.33% - 1rem);
		margin-right:1rem;
		margin-bottom:0;
	}
	footer > div:first-child > div:first-child{
		flex-basis:100%;
		margin-right:0;
	}
	footer > div:first-child > div:nth-child(2){
		flex-basis:100%;
		margin-right:0;
		margin-bottom:2.5rem;
	}
	footer > div:first-child > div:last-child{
		margin-right:0;
	}
	footer h3{
		margin-bottom:1rem;
	}
}
@media screen and (min-width:1300px){
	footer > div:first-child > div{
		flex-basis:calc(16% - 1rem);
		margin-right:0;
		margin-left:1rem;
	}
	footer > div:first-child > div:first-child{
		flex-basis:100%;
		margin-left:0;
	}
	footer > div:first-child > div:nth-child(2){
		flex-basis:50%;
		margin-left:0;
	}
}
@media screen and (min-width:1700px){
	footer li a{
		font-size:1rem;
	}
	footer .theme-btn{
		padding:.75rem 1rem;
		min-width:120px;
	}
}
.sub-footer{
	background-color:#3C495C;
}
.sub-footer p{
	color:#ffffff;
	font-size:0.875rem;
	margin:0;
}
.sub-footer a{
	color:#ffffff;
	font-size:0.875rem;
	display:inline-block;
	margin-left:1em;
}
.sub-footer svg{
	font-size:1.25rem;
}
@media all and (-ms-high-contrast:none){
	.fade-in{
		transform:translateY(0);
		opacity:1;
	}
	.focus-item,.focus-overlay{
		display:block;
	}
	.focus-item .item-body{
		height:1px;
	}
	.header-overlay{
		height:1px;
	}
	.product-presentation li img{
		width:16px;
	}
	.focus-item .video{
		position:absolute;
		height:auto;
		width:100%;
		top:0;
		left:0;
	}
	.anchor-links li img{
		width:8px;
	}
	.products-list-item > div{
		max-width:50%;
	}
}
@media all and (-ms-high-contrast:none) and (min-width:768px){
	.news-section > div{
		max-width:calc(33.33% - 0.67rem);
	}
}
@media all and (-ms-high-contrast:none) and (min-width:1370px){
	.feature-block{
		background-attachment:scroll;
	}
}
 